<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>My Experience</title>
    <link rel="stylesheet" href="{% static 'my_experience.css' %}">
</head>
<body>
  <div>
    <h1 id = 'exp'> MY EXPERIENCE</h1>
  </div>
  <div>
      <img id = 'py' src="https://i.postimg.cc/DykGDRFZ/cert-1073-220857.jpg" alt="Untitled-1">
      <p>Python (Sololearn)</p>
  </div>
  <div>
      <img id = 'html' src="https://i.postimg.cc/fyjR12jt/cert-1014-220857.jpg" alt="Untitled-2" >
      <p>HTML (Sololearn)</p>
  </div>
</body>
</html>

