body {
    background: linear-gradient(276deg, #00ffbd, #ff6c00);
    background-size: 400% 400%;
    animation: BGjalan 6s ease infinite;
}

@keyframes BGjalan { 
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

#exp{
    padding-left: 13cm;
    padding-bottom: 2cm;
    height: 100px;
    width: 200px;
}

#menu{
    font-family: sans-serif;
    text-align: center;
    color: aliceblue;
}

#profil{
    padding-left: 13cm;
    padding-bottom: 2cm;
    height: 100px;
    width: 200px;
}